body {
  margin-top: 120px;
}

.header {
  z-index: 3;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  background: #f9f9f9;
  top: 0;
}

.Globeslogo img {
  width: 80% !important;
}

.header .collapse {
  display: block;
  margin-right: 0;
}

.header .navbar-nav {
  display: inline-block;
}

.header .navbar-nav li {
  padding: 0 0.8rem;
  display: inline-block;
}

.header .navbar-nav li a {
  font-weight: 500;
  position: relative;
  padding: 2.3rem 0;
  letter-spacing: 1.2px;
  display: block;
}

a {
  color: #231f20;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: 0;
}

.cl-effect-12 .menu a::after,
.cl-effect-12 .menu a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(255, 180, 0, 0.15);
  border-radius: 50%;
  content: "";
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 .menu a::after {
  width: 60px;
  height: 60px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.header .navbar-nav li.get_link {
  position: relative;
  margin-left: 20px;
  margin-right: 0px;
}

.header .navbar-nav li.get_link a {
  padding: 2.3rem 10px;
}

.header .navbar-nav li.get_link a span {
  color: #000;
  display: block;
  position: relative;
  z-index: 1;
}

.header .navbar-nav li.get_link a:after {
  background-color: #ffb400;
  position: absolute;
  content: "";
  left: -15px;
  right: -15px;
  top: 25px;
  bottom: 25px;
  border-radius: 30px;
}

.header .navbar-nav li a:hover {
  color: #ffb400;
  text-decoration: none;
}

.header .navbar-nav li.get_link a:hover:after {
  background: #07bd6d;
}

.header .navbar-nav li.get_link a:hover span {
  color: #fff;
}

.cl-effect-12 .menu a:focus::after,
.cl-effect-12 .menu a:focus::before,
.cl-effect-12 .menu a:hover::after,
.cl-effect-12 .menu a:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

a:focus,
a:hover,
button:focus {
  color: #f9c420;
  text-decoration: none;
  outline: 0 !important;
}

.cl-effect-12 .menu a:focus::after,
.cl-effect-12 .menu a:focus::before,
.cl-effect-12 .menu a:hover::after,
.cl-effect-12 .menu a:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.header.fixed-header {
  box-shadow: 0 0 10px #ccc;
}

header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 95%;
}

/* .form-group{
    width: 100% !important; 
    } */

.form-group.search-bar {
  width: 100% !important;
}

footer.container-fluid.bg-4.text-center {
  position: fixed;
  bottom: 0 !important;
  max-height: 20px !important;
}

.search-bar-div {
  position: sticky;
  top: 110px;
  background: #f9f9f9;
}
.text-area{
      position: relative;
    top: -38px;
}